.AppWaterfallView {
  display: flex;
  padding: 0 1rem;
  overflow: auto;
  > .AppWaterfallViewColumn {
    flex-grow: 1;
    min-width: 50%;
    margin: 0;
    padding: 0;
    list-style: none;
    > li {
      margin: 0.5rem 0.25rem;
      padding: 0.5rem;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 3px;
      > a {
        display: block;
        > .title,
        .info {
          display: -webkit-box;
          overflow: hidden;
          font-size: 15px;
          line-height: 21px;
          word-break: break-word;
          -webkit-box-orient: vertical;
        }
        > .title {
          max-height: 42px;
          color: #000;
          -webkit-line-clamp: 2;
        }
        > .info {
          max-height: 63px;
          color: #8e8e93;
          text-overflow: ellipsis;
          -webkit-line-clamp: 3;
        }
        > .createTime {
          margin-top: 0.5rem;
          color: #8e8e93;
          font-size: 15px;
        }
      }
    }
  }
}
